# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/
env/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Playwright Test Artifacts
playwright-report/
test-results/
trace.zip
screenshots/
videos/
logs/
reports/

# Pytest Cache
.cache/
.pytest_cache/
# Playwright browser binaries
playwright/.browsers/

Pipfile
Pipfile.lock
poetry.lock
